<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Device Activity Monitor.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Friction.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Shield Action.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Shield Configuration.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>260AD3CC2FEF6EBB00826D47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>260AD3FA2FEF6F2A00826D47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>260AD40F2FEF6F7900826D47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>260AD4242FEF6FAE00826D47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
